.movies-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .movies-list-wrapper {
    width: 340px;
  }
}

@media only screen and (min-width: 768px) {
  .movies-list-wrapper {
    width: 540px;
  }
}

@media only screen and (min-width: 1024px) {
  .movies-list-wrapper {
    width: 835px;
  }
}

@media only screen and (min-width: 1200px) {
  .movies-list-wrapper {
    width: 1080px;
  }
}


